body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background-color: #ffffff;
}
#head-container {
    width: 1440px;
    height: 900px;
    background-size: cover;
    background-image: url('Men_Prefall2024_Show_WW_HP_Push_DI3.webp'); 
    background-position: center;
    background-attachment: local;
}
header {
    color: #fff;
    background-color: transparent;
    padding: 1em;
    transition: background-color 0.3s ease;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .header-hover {
        background-color: #ffffff59;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #ffffff50;
    text-decoration: none;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 1em;
    display: block;
    transition: color 0.3s ease; 
}

nav a:hover {
    color: #5e676b 
}

.hero-section {
    margin-bottom: 0;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 2em;
}

.featured-section {
    overflow: hidden;
    position: relative;
}

.carousel-track {
    display: flex;
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.featured-section article {
    flex: 0 0 100%;
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
}

footer {
    background-image: url('Men_Prefall2024_Show_WW_HP_Push_DI3.webp');
    text-align: center;
    padding: 2em;
}


.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}


.carousel-inner img {
    max-width: 100%; 
    height: auto;
    
    
}

.featured-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.carousel-container {
    width: 1440px;
    height: 600px;
    margin-bottom: 0;

}

.collection-button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    margin-top: 20px;
}
.button-container a.collection-button {
    background-color: #ffffff;
    color: #000000; /* Cor do texto do link */
    text-decoration: none; /* Remover sublinhado */
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    margin-top: 20px;
}

.button-container a.collection-button:hover {
    opacity: 1;
    color: #5e676b; /* Cor do texto do link ao passar o mouse */
}
.collection-button:hover {
    opacity: 1;
}
.button-container {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%);
    text-decoration: none;
}

.collection-banner {
    position: relative;
    margin-bottom: 0;
    width: 1440px;
    height: 200px;
    background-size: cover;
    background-image: url('Men_Prefall2024_Show_WW_HP_Push_DI3.webp'); 
    background-position: center;
    background-attachment: local;
}

.collection-link {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}

.collection-link img {
    width: 100%;
    height: auto;
}

.collection-text {
    background-color: #ffffff;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.collection-link:hover .collection-text {
    opacity: 1;
}

@media (min-width: 768px) and (max-width: 991px) {
    .hero-section {
        padding: 1em;
    }

    .featured-section {
        margin-top: 50px;
    }

    .carousel-container {
        max-width: 400px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 14px; 
    }

    header {
        padding: 0.5em;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    nav a {
        padding: 0.5em;
    }

    .hero-section {
        padding: 1em;
        font-size: 18px; 
    }

    .featured-section {
        margin-top: 30px;
    }


    .button-container {
        margin-top: 20px;
    }

    .collection-text {
        font-size: 14px;
    }
}



